@use "../../styles/index" as *;

.grocery {
    background-color: $bg-black;
    color: white;
    padding: 4.5rem 1.75rem 4rem 1.75rem;

    &__title {
        display: inline-block;
        font-size: 1.25rem;
        font-weight: 600;
        margin: 1rem 0 1.25rem 0;
        color: $primary-yellow;
    }
}

input[type="checkbox"] {
    border-radius: 0.15em;
    color: currentColor;
    width: 1.15rem;
    height: 1.15rem;
    margin-right: 0.75rem;
}
