@use "../../styles/index" as *;

.grocery {
    background-color: $bg-black;
    color: white;
    padding: 1.75rem;
    padding-bottom: 4rem;
    padding-top: 3rem;

    &__title {
        font-size: 1.25rem;
        font-weight: 400;
        margin: 2rem 0 1.25rem 0;
    }
}

input[type="checkbox"] {
    border-radius: 0.15em;
    color: currentColor;
    width: 1.15rem;
    height: 1.15rem;
    margin-right: 0.75rem;
}
