@use "../../styles/index" as *;

.navbar {
    position: fixed;
    z-index: 5;
    bottom: 0;
    display: flex;
    justify-content: space-between;
    padding: 1rem 2rem;
    background-color: $header-black;
    width: 100%;
    box-shadow: -1px -6px 11px 6px #101000;
    &__text {
        color: white;
        cursor: pointer;
        text-decoration: none;
    }
}
